
<!DOCTYPE html>
<html>
<head>
    <title>3D Bubble Chart Visualization</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<style>
    html, body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;  /* 如果你不想有滚动条 */
    }

    </style>
<body>
<button id="loadData">Load Data</button>
<!--<button id="best_eps">best_eps</button>-->
<input type="range" id="slider_eps" min="0" max="2" step="0.1" value="0.5">slider_eps:
<label id="slider_eps_label">0.5</label>
<input type="range" id="slider_min" min="2" max="10" step="1" value="2">slider_min:
<label id="slider_min_label">2</label>
<br>
<label id="show_sum"></label>
<br>
<label id="show_length"></label>
<br>
<label id="show_minus"></label>
<div id="myDiv" style="width:100%; height:100%;"></div>

<script>
    var isPlotCreated = false;
    function sendSliderValues() {
        const sliderValue1 = document.getElementById('slider_eps').value;
        const sliderValue2 = document.getElementById('slider_min').value;
        var slider_eps_label = document.getElementById('slider_eps_label');
        var slider_min_label = document.getElementById('slider_min_label');
        slider_eps_label.innerText=sliderValue1
        slider_min_label.innerText=sliderValue2

        fetch(`/set_values?slider_eps=${sliderValue1}&slider_min=${sliderValue2}`, { method: 'POST' })
            .then(response => response.json())
            .then(data => {
                createOrUpdatePlot(data);
                console.log('Values set to:', data);
            });
    }

    document.getElementById('slider_eps').addEventListener('input', sendSliderValues);
    document.getElementById('slider_min').addEventListener('input', sendSliderValues);

        // document.getElementById('best_eps').addEventListener('click', () => {
        //
        //     fetch(`/find_optimal_eps?slider_min=${ document.getElementById('slider_min').value}`, { method: 'POST' })
        //         .then(response => response.json())
        //         .then(data => {
        //             // 将数据传递给 processData 函数，并处理返回结果
        //
        //             document.getElementById('slider_eps').value=data.message
        //             sendSliderValues();
        //         });
        // });
    document.getElementById('loadData').addEventListener('click', () => {
        fetch('/get_data')
            .then(response => response.json())
            .then(data => {
                // 将数据传递给 processData 函数，并处理返回结果
                createOrUpdatePlot(data);

            });
    });
    function createOrUpdatePlot(jsonData) {
        // var data = processData(jsonData);
        console.log(typeof jsonData)
        var show_length = document.getElementById('show_length');
        var show_minus = document.getElementById('show_minus');
        var show_sum = document.getElementById('show_sum');
        var sum=0
        var minus_value=0

        show_length.innerText="Clusters: "+Object.keys(jsonData).length.toString()
        for (var key in jsonData) {
            sum+=Object.keys(jsonData[key]).length
            if (jsonData.hasOwnProperty(key) && key.startsWith("-1")) {
                console.log("Length of array for key '" + key + "': " +Object.keys(jsonData[key]).length.toString());
                minus_value=Object.keys(jsonData[key]).length
                // show_minus.innerText="Not classified: "+Object.keys(jsonData[key]).length.toString()

            }
        }
        show_minus.innerText="Not classified: "+minus_value.toString()+", "+((minus_value/sum)*100).toFixed(2)+"%"
        //
        show_sum.innerText="Number of Labels: "+sum.toString()
        // var json_=JSON.parse(jsonData)

        // Check if the plot already exists
        if (!isPlotCreated) {
            // Create new plot
            console.log("empty")
            processData(jsonData);

            isPlotCreated = true;
        } else {
            // Update existing plot
            console.log("not empty")

            update_processData(jsonData);
        }
    }
    function update_processData(jsonData) {
        // Your JSON data
        // var jsonData =data;
        // Process JSON data
        // console.log(jsonData.length())
        var data = [];
        var clusterIndex = 0;
        for (var cluster in jsonData) {
            var x = [];
            var y = [];
            var z = [];
            var names = [];
            for (var pointName in jsonData[cluster]) {
                var point = jsonData[cluster][pointName];
                x.push(point[0]);
                y.push(point[1]);
                z.push(point[2]);
                names.push(pointName);
            }

            var trace = {
                x: x,
                y: y,
                z: z,
                mode: 'markers',
                marker: {
                    size: 12,
                    line: {
                        color: 'rgba(217, 217, 217, 0.14)',
                        width: 0.5
                    },
                    opacity: 0.8
                },
                type: 'scatter3d',
                name: cluster,
                text: names.map(function(name) {
                    return 'Name: ' + name + '<br>Cluster: ' + cluster;
                }),
            };

            // Assign a color for each cluster
            trace.marker.color = clusterIndex;
            data.push(trace);
            clusterIndex++;
        }

        // Define layout
        var layout = {
            margin: {
                l: 0,
                r: 0,
                b: 0,
                t: 0
            },
            scene: {
                xaxis: {title: 'X Axis'},
                yaxis: {title: 'Y Axis'},
                zaxis: {title: 'Z Axis'}
            }
        };

        // Plot the chart
        Plotly.react ('myDiv', data,layout);
    }
   function processData(jsonData) {
       // console.log(jsonData.length())
    // Your JSON data
    // var jsonData =data;
    // Process JSON data
    var data = [];
    var clusterIndex = 0;
    for (var cluster in jsonData) {
        var x = [];
        var y = [];
        var z = [];
        var names = [];
        for (var pointName in jsonData[cluster]) {
            var point = jsonData[cluster][pointName];
            x.push(point[0]);
            y.push(point[1]);
            z.push(point[2]);
            names.push(pointName);
        }

        var trace = {
            x: x,
            y: y,
            z: z,
            mode: 'markers',
            marker: {
                size: 12,
                line: {
                    color: 'rgba(217, 217, 217, 0.14)',
                    width: 0.5
                },
                opacity: 0.8
            },
            type: 'scatter3d',
            name: cluster,
            text: names.map(function(name) {
                return 'Name: ' + name + '<br>Cluster: ' + cluster;
            }),
        };

        // Assign a color for each cluster
        trace.marker.color = clusterIndex;
        data.push(trace);
        clusterIndex++;
    }

    // Define layout
    var layout = {
        margin: {
            l: 0,
            r: 0,
            b: 0,
            t: 0
        },
        scene: {
            xaxis: {title: 'X Axis'},
            yaxis: {title: 'Y Axis'},
            zaxis: {title: 'Z Axis'}
        }
    };

    // Plot the chart
    Plotly.newPlot('myDiv', data, layout);
    }
</script>

</body>
</html>
